<section>
  <!-- Content title begins / Début du titre du contenu -->
  <header>
    <h1 id="cn-cont"><%= l(:app_title, :locale => :fr) %> / <span lang="en"><%= l(:app_title, :locale => :en) %></span></h1>
  </header>
  <!-- Content Title ends / Fin du titre du contenu -->		
  
<!-- clf2-nsi2 theme begins / Début du thème clf2-nsi2 -->
  <!-- Message space begins / Début de l'espace de message -->
  <div id="cn-msg-space" role="banner">
    <div id="cn-upper-msg"></div>
    <div id="cn-lower-msg">
      <p id="cn-left-msg"><%= l(:app_title, :locale => :fr) %></p>
      <p id="cn-right-msg" lang="en"><%= l(:app_title, :locale => :en) %></p>
    </div>
  </div>
  <!-- Message space ends / Fin de l'espace de message -->

  <nav role="navigation">
    <ul id="cn-ef-lang-links">
      <li><a href="/?lang=fr" title="Français - Version française de ce site Web">Français</a></li>
      <li lang="en"><a href="/?lang=en" title="English - English version of the Web site">English</a></li>
    </ul>
  <div id="cn-wmms"><%= image_tag 'wmms.gif', :plugin => 'redmine_clf2', :width => "83", :height=>"20", :alt=>"Symbole du gouvernement du Canada / Symbol of the Government of Canada", :title => "Symbole du gouvernement du Canada / Symbol of the Government of Canada" %></div>
  </nav>
<!-- clf2-nsi2 theme ends / Fin du thème clf2-nsi2 -->
</section>
