<section>
  <!-- Content title begins / Début du titre du contenu -->
  <header>
    <h1 id="cn-cont"><%= l(:app_title, :locale => :fr) %> / <span lang="en"><%= l(:app_title, :locale => :en) %></span></h1>
  </header>
  <!-- Content Title ends / Fin du titre du contenu -->		
  
<!-- clf2-nsi2 theme begins / Début du thème clf2-nsi2 -->
  <!-- Message space begins / Début de l'espace de message -->
  <div id="cn-msg-space" role="banner">
  </div>
  <!-- Message space ends / Fin de l'espace de message -->

  <nav role="navigation">
    <ul id="cn-ef-lang-links">
      <li><a href="/?lang=fr" title="<%= l(:app_welcome_nav_fr_alt) %>"><%= l(:app_welcome_nav_fr) %></a></li>
      <li lang="en"><a href="/?lang=en" title="<%= l(:app_welcome_nav_en_alt) %>"><%= l(:app_welcome_nav_en) %></a></li>
    </ul>
  <div id="cn-wmms"><%= image_tag 'logo-top-right.gif', :plugin => 'redmine_clf2', :width => "83", :height=>"20", :alt=>"l(:app_welcome_wmms_alt)", :title => "l(:app_welcome_wmms_alt)" %></div>
  </nav>
<!-- clf2-nsi2 theme ends / Fin du thème clf2-nsi2 -->
</section>
