<div id="cn-head"><div id="cn-head-inner">
<header>
<!-- clf2-nsi2 theme begins / Début du thème clf2-nsi2 -->
  <div id="cn-sig"><%= image_tag 'sig-eng.gif', :plugin => 'redmine_clf2', :alt=>"Government of Canada", :title => "Government of Canada" %></div>
  <div id="cn-wmms"><%= image_tag 'wmms.gif', :plugin => 'redmine_clf2', :width => "83", :height=>"20", :alt=>"Symbol of the Government of Canada", :title => "Symbol of the Government of Canada" %></div>

  <!-- Banner begins / Début de la bannière -->
  <div id="cn-leaf"></div>
  <div id="cn-banner" role="banner">
    <p id="cn-banner-text"><%= t(:app_title) %></p>
    <p><%= t(:app_url) %></p>
  </div>
  <!-- Banner ends / Fin de la bannière -->

  <nav role="navigation">
    <%= render :partial => 'layouts/top_nav' %>

    <!-- Breadcrumb begins / Début du fil d'Ariane -->
    <div id="cn-bcrumb">
      <h2>Breadcrumb</h2>
      <ol>
        <% breadcrumbs %>
      </ol>

    </div>
    <!-- Breadcrumb ends / Fin du fil d'Ariane -->
  </nav>
<!-- clf2-nsi2 theme ends / Fin du thème clf2-nsi2 -->
</header>
</div></div>
