<!-- Primary navigation (left column) begins / Début de la navigation principale (colonne gauche) -->
<div id="cn-left-col-gap"></div>
<div id="cn-left-col"><div id="cn-left-col-inner">
<section>
  <h2 id="cn-nav"><%= l(:app_leftnav_title) %></h2>
  <div class="cn-left-col-default">
  <nav role="navigation">
    <% unless User.current.logged? %>
      <section>
        <h3><acronym title="<%= l(:app_leftnav_men_title_alt) %>"><%= l(:app_leftnav_men_title) %></acronym></h3>
        <ul>
            <li><a title="<%= l(:app_leftnav_men_reg_alt) %>" href="/account/register"><%= l(:app_leftnav_men_reg) %></a></li>
            <li><a title="<%= l(:app_leftnav_men_login_alt) %>" href="/login"><%= l(:app_leftnav_men_login_alt) %></a></li>
        </ul>
      </section>
    <% end %>
    <section>
      <%= render_clf_menu :top_menu %>
    </section>
    <section>
      <%= render_clf_main_menu(@project) %>
    </section>
    <section>
      <h3 id="cn-pd-link"><%= l(:app_leftnav_disclose_title) %></h3>
      <ul id="cn-pd-ul">
        <li><a href="<%= l(:app_leftnav_disclose_url) %>"><%= l(:app_leftnav_disclose) %></a></li>
      </ul>
    </section>
  </nav>
  </div>
</section>
</div></div>
<!-- Primary navigation (left column) ends / Fin de la navigation principale (colonne gauche) -->
<div id="cn-left-col-gap"></div>
