<!-- Common menu bar begins / Début de la barre de menu commune -->
<div id="cn-cmb">
  <h2><%= l(:app_topnav_title) %></h2>
  <ul>
    <li id="cn-cmb1"><a href="<%= change_locale_link("fr") %>" lang="fr" title="<%= l(:app_topnav_chg_lang_alt) %>"><%= l(:app_topnav_chg_lang) %></a></li>
    <li id="cn-cmb2"><a href="/" title="<%= l(:app_topnav_home_alt) %>"><%= l(:app_topnav_home) %></a></li>
    <li id="cn-cmb3"><a href="/contact" title="<%= l(:app_topnav_contact_alt) %>"><%= l(:app_topnav_contact) %></a></li>
    <li id="cn-cmb4"><a href="/help" title="<%= l(:app_topnav_help_alt) %>"><%= l(:app_topnav_help) %></a></li>
    <li id="cn-cmb5"><a rel="search" href="/search" title="<%= l(:app_topnav_search_alt) %>"><%= l(:app_topnav_search) %></a></li>
    <li id="cn-cmb6"><a rel="external" href="<%= l(:app_topnav_external_url) %>" title="<%= l(:app_topnav_external_alt) %>"><%= l(:app_topnav_external) %></a></li>
  </ul>
</div>
<!-- Common menu bar ends / Fin de la barre de menu commune -->
