<meta charset="utf-8" />
<link rel="schema.dcterms" href="http://purl.org/dc/terms/" />

<!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
Terms and conditions of use: http://tbs-sct.ircan.gc.ca/projects/gcwwwtemplates/wiki/Terms
Conditions régissant l'utilisation : http://tbs-sct.ircan.gc.ca/projects/gcwwwtemplates/wiki/Conditions
-->

<!-- Title begins / Début du titre -->
<title><%= t(:app_title) %></title>
<!-- Title ends / Fin du titre -->

<!-- Favicon (optional) begins / Début du favicon (optionnel) -->
<!-- <link rel="shortcut icon" href="images/favicon.ico" /> -->
<!-- Favicon (optional) ends / Find du favicon (optionnel) -->

<!-- Meta-data begins / Début des métadonnées -->
<meta name="dcterms.description" content="English description / Description en anglais" />
<meta name="dcterms.description" lang="fr" content="French description / Description en français" />
<meta name="description" content="English description / Description en anglais" />
<meta name="description" lang="fr" content="French description / Description en français" />
<meta name="keywords" content="English keywords / Mots-clés en anglais" />
<meta name="keywords" lang="fr" content="French keywords / Mots-clés en français" />
<meta name="dcterms.creator" title="Titles of Federal Institutions" content="English name of the content author / Nom en anglais de l'auteur du contenu" />
<meta name="dcterms.creator" lang="fr" title="Titres des institutions fédérales" content="French name of the content author / Nom en français de l'auteur du contenu" />
<meta name="dcterms.title" content="English title / Titre en anglais" />
<meta name="dcterms.title" lang="fr" content="French title / Titre en français" />
<meta name="dcterms.issued" title="W3CDTF" content="Date published (YYYY-MM-DD) / Date de publication (AAAA-MM-JJ)" />
<meta name="dcterms.modified" title="W3CDTF" content="Date modified (YYYY-MM-DD) / Date de modification (AAAA-MM-JJ)" />
<meta name="dcterms.subject" title="scheme" content="English subject terms / Termes de sujet en anglais" />
<meta name="dcterms.subject" lang="fr" title="scheme" content="French subject terms / Termes de sujet en français" />
<meta name="dcterms.language" title="ISO639-2" content="eng" />
<meta name="dcterms.language" lang="fr" title="ISO639-2" content="fra" />
<!-- Meta-data ends / Fin des métadonnées -->

<!-- WET scripts/CSS begin / Début des scripts/CSS de la BOEW --><!--[if IE 6]><![endif]-->
<%= stylesheet_link_tag 'base', :media => 'screen,print' %>
<!--[if IE 8]><%= stylesheet_link_tag 'base-ie8', :media => 'screen,print' %><![endif]-->
<!--[if IE 7]><%= stylesheet_link_tag 'base-ie7', :media => 'screen,print' %><![endif]-->
<!--[if lte IE 6]><%= stylesheet_link_tag 'base-ie6', :media => 'screen,print' %><![endif]-->
<%= stylesheet_link_tag 'util', :media => 'screen,print' %>
<!-- clf2-nsi2 theme begins / Début du thème clf2-nsi2 -->
<%= stylesheet_link_tag 'wp-pa-theme-clf2-nsi2', :media => 'screen,print' %>
<!--[if IE 7]><%= stylesheet_link_tag 'wp-pa-theme-clf2-nsi2-ie7', :media => 'screen,print' %><![endif]-->
<!--[if lte IE 6]><%= stylesheet_link_tag 'wp-pa-theme-clf2-nsi2-ie6', :media => 'screen,print' %><![endif]-->
<!-- clf2-nsi2 theme ends / Fin du thème clf2-nsi2 -->
<!-- WET scripts/CSS end / Fin des scripts/CSS de la BOEW -->

<!-- Progressive enhancement begins / Début de l'amélioration progressive -->
<%= javascript_include_tag "jquery.min.js" %>
<%= javascript_include_tag "pe-ap.js" %>
<script type="text/javascript">
/* <![CDATA[ */
  var params = {
  };
  PE.progress(params);
/* ]]> */
</script>
<!-- Progressive enhancement ends / Fin de l'amélioration progressive -->

<!-- WET print CSS begins / Début du CSS de la BOEW pour l'impression -->
<%= stylesheet_link_tag 'pf-if', :media => 'print' %>
<!-- general theme begins / Début du thème général -->
<%= stylesheet_link_tag 'pf-if-theme-general', :media => 'print' %>
<!-- general theme ends / Fin du thème général -->
<!-- WET print CSS ends / Fin du CSS de la BOEW pour l'impression -->

<
