<!DOCTYPE html>
<html lang="en">
<head>
  <%= render :partial => 'layouts/head' %>
</head>
<body>
<!-- One column layout begins / Début de la mise en page d'une colonne -->
<div id="cn-body-inner-1col">
	<!-- Skip header begins / Début du saut de l'en-tête -->
	<div id="cn-skip-head">
	<nav>
		<ul id="cn-tphp">
			<li id="cn-sh-link-1"><a href="#cn-cont"><%= l(:app_multi_skip_content_en) %> / <span lang="fr"><%= l(:app_multi_skip_content_fr) %></span></a></li>
			<li id="cn-sh-link-2"><a href="#cn-nav"><%= l(:app_multi_skip_footer_en) %> / <span lang="fr"><%= l(:app_multi_skip_footer_fr) %></span></a></li>
		</ul>
	</nav>
	</div>
	<!-- Skip header ends / Fin du saut de l'en-tête -->

	<!-- Header begins / Début de l'en-tête -->
	<div id="cn-head"><div id="cn-head-inner">
	<header>
<!-- clf2-nsi2 theme begins / Début du thème clf2-nsi2 -->
		<div id="cn-sig"><img src="images/logo-top-left-eng.gif" width="372" height="20" alt="<%= l(:app_multi_head_img_alt) %>" title="<%= l(:app_multi_head_img_alt) %>" /></div>
<!-- clf2-nsi2 theme ends / Fin du thème clf2-nsi2 -->
	</header>
	</div></div>
	<!-- Header ends / Fin de l'en-tête -->

	<div id="cn-cols">
	<!-- Main content begins / Début du contenu principal --> 
	<div id="cn-centre-col" role="main"><div id="cn-centre-col-inner">
	<section>
		<!-- Content title begins / Début du titre du contenu -->
		<header>
			<h1 id="cn-cont">Welcome page (outside Quebec) - <abbr title="Common Look and Feel">CLF</abbr> 2.0 Theme - HTML5 - Web Experience Toolkit (WET) / <span lang="fr">Page d'accueil (hors de Québec) - Thème <abbr title="Normalisation des sites Internet">NSI</abbr> 2.0 - HTML5 - Boîte à outils de l'expérience Web (BOEW)</span></h1>
		</header>
		<!-- Content Title ends / Fin du titre du contenu -->		
		
<!-- clf2-nsi2 theme begins / Début du thème clf2-nsi2 -->
		<!-- Message space begins / Début de l'espace de message -->
		<div id="cn-msg-space" role="banner">
			<div id="cn-upper-msg"></div>
			<div id="cn-lower-msg">
				<p id="cn-left-msg"><%= l(:app_multi_msg_en) %></p>
				<p id="cn-right-msg" lang="fr"><%= l(:app_multi_msg_fr) %></p>
			</div>
		</div>
		<!-- Message space ends / Fin de l'espace de message -->

		<nav role="navigation">
			<ul id="cn-ef-lang-links">
				<li><a href="3col-theme-clf2-nsi2-eng.html" title="English - English version of the Web site">English</a></li>
				<li lang="fr"><a href="3col-theme-clf2-nsi2-fra.html" title="Français - Version française de ce site Web">Français</a></li>
			</ul>
			<div id="cn-wmms"><img src="images/logo-top-right.gif" width="83" height="20" alt="<%= l(:app_multi_nav_img_alt) %>" title="<%= l(:app_multi_nav_img_alt) %>" /></div>
			<ul id="cn-other-lang-links">
				<li lang="de"><a href="#"><%= l(:app_multi_nav_de) %></a></li>
				<li lang="es"><a href="#"><%= l(:app_multi_nav_es) %></a></li>
				<li lang="it"><a href="#"><%= l(:app_multi_nav_it) %></a></li>
				<li lang="pt"><a href="#"><%= l(:app_multi_nav_pt) %></a></li>
				<li lang="ru"><a href="#"><%= l(:app_multi_nav_ru) %></a></li>
			</ul>
		</nav>
<!-- clf2-nsi2 theme ends / Fin du thème clf2-nsi2 -->
	</section>
	</div></div>
	<!-- Main content ends / Fin du contenu principal --> 
	</div>

	<!-- Footer begins / Début du pied de page --> 
	<div id="cn-foot"><div id="cn-foot-inner">
	<footer>
		<h2 id="cn-nav"><%= l(:app_multi_foot_title) %></h2>
<!-- clf2-nsi2 theme begins / Début du thème clf2-nsi2 -->
		<ul id="cn-in-links">
			<li><a href="#" rel="license"><%= l(:app_multi_notice_en) %></a></li>
			<li lang="fr"><a href="#" rel="license"><%= l(:app_multi_notice_fr) %></a></li>
		</ul>
<!-- clf2-nsi2 theme ends / Fin du thème clf2-nsi2 -->
	</footer>
	</div></div>
	<!-- Footer ends / Fin du pied de page -->
</div>
<!-- One column layout ends / Fin de la mis en page d'une colonne -->
</body>
</html>
