<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8" />
  <link rel="schema.dcterms" href="http://purl.org/dc/terms/" />

  <!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
  Terms and conditions of use: http://tbs-sct.ircan.gc.ca/projects/gcwwwtemplates/wiki/Terms
  Conditions régissant l'utilisation : http://tbs-sct.ircan.gc.ca/projects/gcwwwtemplates/wiki/Conditions
  -->

  <!-- Title begins / Début du titre -->
  <title><%= t(:app_title, :locale => :fr) %> / <%= t(:app_title, :locale => :en) %></title>
  <!-- Title ends / Fin du titre -->

  <!-- Favicon (optional) begins / Début du favicon (optionnel) -->
  <!-- <link rel="shortcut icon" href="images/favicon.ico" /> -->
  <!-- Favicon (optional) ends / Find du favicon (optionnel) -->

  <!-- Meta-data begins / Début des métadonnées -->
  <meta name="dcterms.description" content="<%= t(:app_description, :locale => :fr) %>" />
  <meta name="dcterms.description" lang="en" content="<%= t(:app_description, :locale => :en) %>" />
  <meta name="description" content="<%= t(:app_description, :locale => :fr) %>" />
  <meta name="description" lang="en" content="<%= t(:app_description, :locale => :en) %>" />
  <meta name="keywords" content="<%= t(:app_keywords, :locale => :fr) %>" />
  <meta name="keywords" lang="en" content="<%= t(:app_keywords, :locale => :en) %>" />
  <meta name="dcterms.creator" title="<%= t(:app_creator_title, :locale => :fr) %>" content="<%= t(:app_creator, :locale => :fr) %>" />
  <meta name="dcterms.creator" lang="en" title="<%= t(:app_creator_title, :locale => :en) %>" content="<%= t(:app_creator, :locale => :en) %>" />
  <meta name="dcterms.title" content="<%= t(:app_title, :locale => :fr) %>" />
  <meta name="dcterms.title" lang="en" content="<%= t(:app_title, :locale => :en) %>" />
  <meta name="dcterms.issued" title="W3CDTF" content="2008-12-19" />
  <meta name="dcterms.modified" title="W3CDTF" content="2011-03-23" />
  <meta name="dcterms.subject" title="scheme" content="<%= t(:app_subject, :locale => :fr) %>" />
  <meta name="dcterms.subject" lang="en" title="scheme" content="<%= t(:app_subject, :locale => :en) %>" />
  <meta name="dcterms.language" title="ISO639-2" content="fra" />
  <meta name="dcterms.language" lang="en" title="ISO639-2" content="eng" />
  <!-- Meta-data ends / Fin des métadonnées -->

  <!-- WET scripts/CSS begin / Début des scripts/CSS de la BOEW --><!--[if IE 6]><![endif]-->
  <%= stylesheet_link_tag 'base', :media => 'screen,print', :plugin => 'redmine_clf2' %>
  <!--[if IE 8]><%= stylesheet_link_tag 'base-ie8', :media => 'screen,print', :plugin => 'redmine_clf2' %><![endif]-->
  <!--[if IE 7]><%= stylesheet_link_tag 'base-ie7', :media => 'screen,print', :plugin => 'redmine_clf2' %><![endif]-->
  <!--[if lte IE 6]><%= stylesheet_link_tag 'base-ie6', :media => 'screen,print', :plugin => 'redmine_clf2' %><![endif]-->
  <%= stylesheet_link_tag 'util', :media => 'screen,print', :plugin => 'redmine_clf2' %>
  <!-- clf2-nsi2 theme begins / Début du thème clf2-nsi2 -->
  <%= stylesheet_link_tag 'wp-pa-theme-clf2-nsi2', :media => 'screen,print', :plugin => 'redmine_clf2'  %>
  <!--[if IE 7]><%= stylesheet_link_tag 'wp-pa-theme-clf2-nsi2-ie7', :media => 'screen,print', :plugin => 'redmine_clf2'  %><![endif]-->
  <!--[if lte IE 6]><%= stylesheet_link_tag 'wp-pa-theme-clf2-nsi2-ie6', :media => 'screen,print', :plugin => 'redmine_clf2'  %><![endif]-->
  <!-- clf2-nsi2 theme ends / Fin du thème clf2-nsi2 -->
  <!-- WET scripts/CSS end / Fin des scripts/CSS de la BOEW -->

  <!-- WET print CSS begins / Début du CSS de la BOEW pour l'impression -->
  <%= stylesheet_link_tag 'pf-if', :media => 'print', :plugin => 'redmine_clf2' %>
  <!-- clf2-nsi2 theme begins / Début du thème clf2-nsi2 -->
  <%= stylesheet_link_tag 'pf-if-theme-clf2-nsi2', :media => 'print', :plugin => 'redmine_clf2' %>
  <!-- clf2-nsi2 theme ends / Fin du thème clf2-nsi2 -->
  <!-- WET print CSS ends / Fin du CSS de la BOEW pour l'impression -->
</head>
<body>
<!-- One column layout begins / Début de la mise en page d'une colonne -->
<div id="cn-body-inner-1col">
	<!-- Skip header begins / Début du saut de l'en-tête -->
	<div id="cn-skip-head">
	<nav>
		<ul id="cn-tphp">
			<li id="cn-sh-link-1"><a href="#cn-cont">Passer au contenu principal / <span lang="en">Skip to main content</span></a></li>
			<li id="cn-sh-link-2"><a href="#cn-nav">Passer au pied de page / <span lang="en">Skip to footer</span></a></li>
		</ul>
	</nav>
	</div>
	<!-- Skip header ends / Fin du saut de l'en-tête -->

	<!-- Header begins / Début de l'en-tête -->
	<div id="cn-head"><div id="cn-head-inner">
	<header>
<!-- clf2-nsi2 theme begins / Début du thème clf2-nsi2 -->
    <div id="cn-sig"><%= image_tag 'sig-fra.gif', :plugin => 'redmine_clf2', :width => "372", :height=>"20", :alt=>"Gouvernement du Canada / Government of Canada", :title => "Gouvernement du Canada / Government of Canada" %></div>
<!-- clf2-nsi2 theme ends / Fin du thème clf2-nsi2 -->
	</header>
	</div></div>
	<!-- Header ends / Fin de l'en-tête -->

	<div id="cn-cols">
	<!-- Main content begins / Début du contenu principal --> 
	<div id="cn-centre-col" role="main"><div id="cn-centre-col-inner">
    <%= yield %>
	</div></div>
	<!-- Main content ends / Fin du contenu principal --> 
	</div>

	<!-- Footer begins / Début du pied de page --> 
	<div id="cn-foot"><div id="cn-foot-inner">
	<footer>
		<h2 id="cn-nav">Pied de page</h2>
<!-- clf2-nsi2 theme begins / Début du thème clf2-nsi2 -->
		<ul id="cn-in-links">
			<li><a href="http://www.tbs-sct.gc.ca/tbs-sct/cmn/notices-avis-fra.asp" rel="license">Avis importants</a></li>
			<li lang="en"><a href="http://www.tbs-sct.gc.ca/tbs-sct/cmn/notices-avis-eng.asp" rel="license">Important Notices</a></li>
		</ul>
<!-- clf2-nsi2 theme ends / Fin du thème clf2-nsi2 -->
	</footer>
	</div></div>
	<!-- Footer ends / Fin du pied de page -->
</div>
<!-- One column layout ends / Fin de la mis en page d'une colonne -->
</body>
</html>
